.container{
  display: flex;
  flex-direction: column;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

.input{
  margin-bottom: 20px;
  border: 1px solid rgb(134, 134, 255);
  border-radius: 10px;
  padding-left: 20px;
}

.btn{
  background-color: rgb(134, 134, 255);
  border: 2px solid rgb(134, 134, 255);
  border-radius: 10px;
}

.btn:hover{
  border: 2px solid rgb(89, 89, 254);;
}

.input:hover{
  border: 1px solid rgb(89, 89, 254);;
}