.progressbar{
  width: 90%;
  /* cursor: pointer; */
}

.worker_name{
  font-size: 30px;
  color: var(--main-color);
}

@media (max-width: 500px) {
  .progressbar{
    width: 80%;
  }
  .worker_name{
    font-size: 26px;
  }
}