.main{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.background{
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.311);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_block{
  width: 40%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  padding: 2%;
  background-color: #fff;
  border-radius: 20px;
}

.btn_block{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.forClose{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.close{
  font-size: 30px;
  margin-top: -20px;

  cursor: pointer;
  color: var(--main-color);
}

.worker_name_block{
  font-size: 20px;
}

.worker_name{
  font-size: 24px;
  color: var(--main-color);
  font-weight: bold;
}

.textarea{
  padding: 2% 3%;
  border-radius: 8px;
  border-color: var(--main-color);
  margin-bottom: 5%;
}

.up,
.down{
  border-radius: 100%;
  height: 70px;
  width: 70px;
  padding: 0px;
  font-size: 30px;
  background-color: #fff;
  border: 1px solid rgb(230, 230, 230);
}

.hover_active{
  background-color: var(--light-back);
}

@media (max-width: 500px) {
  .popup_block{
    width: 90%;
    height: 40vh;
  }


  .close{
    font-size: 30px;
    margin-top: -5px;
    margin-right: 5px;
  }

  .worker_name_block{
    font-size: 16px;
  }

  .worker_name{
    font-size: 20px;
  }

  .textarea{
    padding: 5% 5%;
    margin-bottom: 5%;
  }

  .up,
  .down{
    border-radius: 100%;
    height: 50px;
    width: 50px;
    font-size: 20px;
    border: 1px solid rgb(230, 230, 230);
  }

  .hover_active{
    background-color: var(--light-back);
  }

  .needed_text{
    text-align: center;
  }
}